*{
  box-sizing: border-box;
}

body{
  background-color: black;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.contact-content-block{
  background-color: whitesmoke;
  width: 100%;
  position: absolute;
  top: 200px;
  display: flex;
}

.contact-pic{
  width: 50%;
  height: calc(100vh - 200px);
  background-color:black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(../images/main-5.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.contact-pic hr{
  width: 30%;
  border: 5px solid white;
  margin-left: 0;
}
.contact-pic div {
  font-size: 72px;
  color: white;
}

.contact-form{
  width: 50%;
  height: calc(100vh - 200px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.contact-form form{
  width: 70%;
  display: flex;
  flex-wrap: wrap;
}

.contact-form form>input,
.contact-form form>div{
  width: 100%;
}
.contact-form form>input{
  margin: 2rem 0;
  
}
.contact-form form>div{
  display: flex;
  justify-content: space-between;
}

.contact-form form>div>input{
  width: 45%;
}

.contact-form form>input,
.contact-form form>div>input{
  height: 60px;
  border-radius: 5px;
  border: none;
  background-color: lightgray;
  padding-left: 1rem;
}

.contact-form form .message{
  height: 200px;
  padding-bottom: 8rem;
  
}

.contact-form form>button{
  width: 100px;
  height: 50px;
  color: white;
  background-color: black;
  cursor: pointer;
  margin-top: 2rem;
}

@media(max-width:500px){
  .contact-form{
    width: 100%;
  }
  .contact-pic{
    display: none;
  }

  .contact-content-block{
    flex-wrap: wrap;
  }

  .footer{
    top: 100vh;
  }

  .contact-content-block{
    top: 130px;
  }

  .contact-form form>input{
    margin: 1rem 0;
  }
}

@media(max-width:400px){
  .contact-content-block{
    top: 120px;
  }

  .contact-form form>input{
    margin:5px;
  }

  .contact-form form>input,
  .contact-form form>div>input{
    height: 30px;
  }

  .contact-form form>div{
    margin: auto 5px;
  }

  .contact-form>div:nth-child(1){
    margin-top: 5px;
  }

  .contact-form form>button{
    height: 30px;
    margin-top: 20px;
  }
  .contact-form form .message{
    padding: 0;
    height: 150px;
    overflow: scroll;
    padding-left: 1rem;
  }

}