.footer-product{
  width: 100%;
  background-color: black;
  color: white;
  z-index: 9;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footer-product>div{
  margin: 2rem;
  color: lightslategrey;
}

.footer-product>div:nth-child(1) li,
.footer-product>div:nth-child(2) li,
.footer-product>div:nth-child(3) li,
.footer-product>div:nth-child(4) li{
  list-style-type: none;
  margin: 1rem auto 1rem 0;
  font-size: 0.5rem;
}

.footer-product>div:nth-child(1) a,
.footer-product>div:nth-child(2) a,
.footer-product>div:nth-child(3) a,
.footer-product>div:nth-child(4) a{
  color: white;
  text-decoration: none;
}

.footer-product>div:nth-child(1) ul,
.footer-product>div:nth-child(2) ul,
.footer-product>div:nth-child(3) ul,
.footer-product>div:nth-child(4) ul{
  padding: 0;
}

.footer-product>div:nth-child(5){
  width: 100%;
  text-align: center;
  margin: 3rem auto 2rem auto;
  font-size: 0.4rem;
}

.content{
  /* border:1px solid red; */
  display: flex;
  flex-wrap: wrap;
}

.topSpace{
  width: 100%;
  height: 158px;
  background-color: black;
}

.productPhoto{
  background-image: url(../images/product-man/product_calender_1.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;

  /* border: 1px solid blue; */
  height: 100vh;
  /* margin-top: 158px; */
}

.productDetail{
  width: 50%;
  /* border: 1px solid brown; */
  height: 100vh;
  /* margin-top: 158px; */
  display: flex;
  flex-wrap: wrap;
  padding: 6rem;
  overflow-y:scroll;
}

.topbar{
  background-color:rgba(0, 0, 0, 0.9);
}

.user-map{
  /* border: 1px solid red; */
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: flex-start;
}

.user-map a {
  color: black;
  text-decoration: none;
  font-size: 1rem;
  margin-right: 1rem;
}

.user-map a:nth-child(5){
  color: gray;
}

.product-name{
  /* background-color: blueviolet; */
  width: 100%;
  /* height: 30px; */
  font-size: 2.5rem;
  margin: 2rem auto;
}
.product-price{
  /* background-color: cadetblue; */
  width: 100%;
  /* height: 30px; */
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: 1px;
}

.buy{
  /* background-color: chartreuse; */
  width: 100%;
  /* height: 30px; */
  display: flex;
  justify-content: space-between;
  margin: 2rem auto;
}

.buy-num {
  width: 60px;
  height: 60px;
  text-align: center;
  /* display: flex; */
  /* justify-content: center; */
}

.addToCar {
  /* border: 1px solid red; */
  height: 60px;
  width: 90%;
  text-align: center;
  /* margin-top: 20%; */
  padding-top: 20px;
  cursor: pointer;
  background-color: black;
  color: white;
}

.simple-detail{
  /* background-color: chocolate; */
  width: 100%;
  /* height: 30px; */
  letter-spacing: 1px;
  margin: 3rem auto;
}

.simple-detail span{
  font-weight: bold;
  display: block;
  margin: 2rem auto;
  font-style: italic;
  font-size: 1rem;
  letter-spacing: 0px;
}

.shipping-and-return {
  /* background-color: cornflowerblue; */
  width: 100%;
  /* height: 30px; */
  margin: 2rem auto 3rem auto;
  letter-spacing: 1px;
}

.shipping-and-return a{
  color: black;
}

.shipping-and-return>div:nth-child(1) {
  /* border: 1px solid red; */
  width: 40%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
}

.shipping-and-return>div:nth-child(2){
  /* background-color: lightgreen; */
  padding: 2rem;
  border: 1px solid lightgray;
}

.shipping-and-return>div:nth-child(2) div{
  margin: 2.5rem auto;
  font-weight: 500;
}


.share{
  /* background-color: crimson; */
  width: 100%;
  /* height: 30px; */
  display: flex;
  justify-content: flex-start;
  margin-bottom: 2rem;
}

.share img {
  width: 30px;
  height: 30px;
  margin-left: 2rem;
}

.share a {
  text-decoration: none;
}
.comment{
  /* background-color: darkolivegreen; */
  width: 100%;
  /* height: 30px; */
  padding: 2rem;
  border: 1px solid lightgrey;
}

.star-infor{
  /* background-color: blue; */
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom:1px solid lightgrey ;
}

.star-infor>div:nth-child(1){
  /* border: 1px solid yellowgreen; */
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.star-infor>div:nth-child(2){
  /* border: 1px solid blue; */
  margin-bottom: 1rem;
  font-weight: 500;
}

.comment img {
  width: 20px;
  height: 20px;
}

.consumerRe-block{
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.consumerRe-block>div:nth-child(2){
  border: 1px solid black;
  height: 50px;
  width: 160px;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 200px;
  cursor: pointer;
}

.consumerRe-block>div:nth-child(2):hover{
  background-color: black;
  color: white;
}

.comment-star{
  display: flex;
  /* border: 1px solid red; */
  margin-bottom: 1rem;
  width: 60%;
  justify-content: space-between;
}

.comment-bar{
  border: 1px solid lightgray;
  width: 160px;
}

.percent{
  background-color: rgb(255, 255, 48);
  
}

.percent-50{
  width: 50%;
  height: 100%;
}

.percent-50{
  /* background-color: yellow; */
  /* background-size: 80px; */
}

.comment-num{
  width: 20px;
}

.comment-infor{
  display: flex;
}

.comment-infor>div>img:last-child{
  margin-right: 0.5rem;
}

.comment-word{
  /* border: 1px solid red; */
}

.comment-user{
  display: flex;
}

.comment-user>div:first-child{
  color: white;
  background-color: black;
  width: 5rem;
  text-align: center;
  margin-right:1rem ;
}

.comment-user:last-child{
  font-weight: bold;
}


.comment-upper{
  display: flex;
  /* background-color: violet; */
  margin-bottom: 1rem;
}

.comment-word-content{
  font-weight: 800;
}

.user-pic{
  width: 60px;
  height: 60px;
  background-image: url(../images/product-man/user.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: lightgray;
  border-radius: 50%;
  margin-right: 1rem;
}

.other{
  /* border:1px solid red; */
  display: flex;
  /* flex-wrap: wrap; */
  width: 100%;
}

.other-word{
  width: 50%;
  height: 100vh;
  /* background-color: aqua; */
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-wrap: wrap;
}

.other-word>div{
  width: 100%;
  /* border: 1px solid red; */
  display: flex;
  /* justify-content: center; */
  flex-wrap:wrap ;
  font-size: 4rem;
  /* height: 150px; */
  padding-left: 3rem;
}

.other-word hr{
  background-color: black;
  border: 1px solid black;
  width: 40rem;
  height: 4px;
  margin: 0;
}

.other-word>div:nth-child(2){
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.other-pic{
  width: 50%;
  height: 100vh;
  /* background-color: blueviolet; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.other-pic .product-infor{
  width: 100%;
  height: 100%;
  /* border: 1px solid yellowgreen; */
}

.other-pic>div{
  width: 49.5%;
  height: 49vh;
  background-color: brown;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

.other-pic>div a {
  color: black;
  text-decoration: none;
  font-size: 1.6rem;
}

.other-pic>div:hover{
  background-size: 120%;
  cursor: pointer;
  transition: all 300ms cubic-bezier(0.39, 0.575, 0.565, 1);
}

.product-infor{
  display: none;
  width: 100%;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.5);
  position: relative;
}

.product-infor>div{
  /* border: 1px solid red; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  top: 30%;
}
.product-infor>div>div{
  /* border: 1px solid rebeccapurple; */
  width: 100%;
  text-align: center;
}

.other-pic>div:hover .product-infor{
  display: block;
}

.other-pic>div:nth-child(1){
  background-image: url(../images/product-man/product_coat_1.jpeg);
}
.other-pic>div:nth-child(2){
  background-image: url(../images/product-man/product_jeans_1.jpeg);
}
.other-pic>div:nth-child(3){
  background-image: url(../images/product-man/product_cloth_2.jpeg);
}
.other-pic>div:nth-child(4){
  background-image: url(../images/product-man/product_bag_1.jpeg);
}